<meta name="title" content="Vigilance ― Surveillance de la crue des eaux">
<meta name="description" content="Surveillance des rivières et de la crue des eaux en continue pour évaluer le risque d'inondation.">
<meta name="keywords" content="inondation, crue des eaux, rivières, rivière, vigilance, embâcle, fonte des neiges, crue, débordement, quebec">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="French">
<meta name="author" content="Gouvernement du Québec">

<div class = banner role = banner>
	<div class="container piv">
		<div class="row" id="entetePiv">
			<div class="col-6 col-md-10 d-flex flex-wrap align-items-center zone-logo-title">
				<a class="logo" tabindex="5" href="https://quebec.ca" target="_blank">
                    <img id="pivImage" alt="Logo du gouvernement du Québec." src="assets/images/signature-PIV.svg">
                </a>
				<img id="pivImagePrint" alt="Logo du gouvernement du Québec." src="assets/images/quebecPrint.gif" width="199" height="60" />
				<p lang="fr" id="title-desktop" class="zone-title  d-none d-md-block">{{('qcca.header.title' | translate)}}</p>
			</div>
			<div class="col-6 col-md-2 d-flex justify-content-end zone-links">
				<ul class="listePiv nav flex-column">
					<li><button class="buttonLanguage" disabled (click)="changeLanguage()">{{'qcca.header.language' | translate}}</button></li>
					<li><a alt="('workspace.external_links' | translate)" [href]="('qcca.header.url-contactus' | translate )" target="_blank">{{'qcca.header.contactus' | translate}}</a></li>
				</ul>
			</div>
			<p lang="fr" id="title-mobile" class="zone-title d-md-none col-12"><a>{{('qcca.header.title' | translate)}}</a></p>
		</div>
	</div>
</div>