
<div class="footer-right" id="app-qcca-footer-id">

    <!--igo-panel title="Legends">
        <igo-layer-legend-list [layers]="map.layers"
        [excludeBaseLayers]="true"
        [allowShowAllLegends]="true"
        [updateLegendOnResolutionChange]="false"
        [showAllLegendsValue]="false">
        </igo-layer-legend-list>
    </igo-panel-->
    <span class="order2">
        <!--<span class="footer-text" ><a href="{{(url$ | async)}}" target="_blank">{{('qcca.footer.conditions' | translate)}}</a></span>-->
        <span class="footer-text"><a alt="('workspace.external_links' | translate)" [href]="('qcca.footer.url-ministry' | translate )" target="_blank">{{('qcca.footer.ministry' | translate)}}</a></span>
        <span class="footer-text">  |  </span>
        <span class="footer-text"><a alt="('workspace.external_links' | translate)" [href]="('qcca.footer.url-gov' | translate )" target="_blank">{{('qcca.footer.gov' | translate)}}</a></span>
    </span>
</div>